# Игнороровать все изображения кроме 0.png - 19.png и
# validation_set.png, training_convergence.png, train_set.png

*.png  # игнорировать все файлы PNG
!train_set.png
!validation_set.png
!training_convergence.png
!0.png
!1.png
!2.png
!3.png
!4.png
!5.png
!6.png
!7.png
!8.png
!9.png
![0-2][0-9].png  # Двухзначные (10.png - 19.png)
